.spinner-panel {
    z-index: 100000000;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
.spinner {
    position: absolute;
    display: block;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);    
    z-index: 100000000;
}