.summary-body {
    padding-left: 20px;
}

.summary-title-row {
    margin-left: 3px;
    margin-top: 15px;
    margin-bottom: -10px;
}

.summary-sheet-separator {
    margin-left: -20px;
}

.summary-row, .summary-cell {
    padding-left: 20px;    
}

.summary-cell {
    padding-bottom: 10px;
}