/*fonts*/
$font-ubunto: 'Ubuntu', sans-serif;
$font-source-sans: 'Source Sans Pro', sans-serif;
/*colors*/
$login-button-bgcolor: rgba(0, 0, 0, 1);
$login-button-color: rgba(255, 255, 255, 1);
$sidebar-bgcolor: rgba(255, 203, 4, 0.5);
$sidebar-hover-bgcolor: rgba(255,255,255,.0625);
$logo-yellow-color: rgba(255, 190, 0, 1);
$text-color: rgba(101, 101, 101, 1);
$remarks-color: rgba(51, 72, 86, 0.5);
$check-box-color: rgba(255, 255, 255, 1);
/*width*/
$sidebar-collapsed-width: 70px;
$sidebar-expanded-width: 220px;
