.mobile-number-input-container {
    select {
        width: 115px;
        margin-right: 5px;
        display: inline-block;
    }
    input{
        width: 200px;
        display: inline-block;
    }
}